.purplebkgd {
    background-color: mediumpurple;
    border-bottom: groove;
    border-bottom-width: 5px;
    border-color: black;

}
.placeholder {
    padding: 50px;
    height: 10px;
    background-color: aquamarine;
}