<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery UI Slider - Range slider</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    $( "#slider-range" ).slider({
			range: true,
			min: 50,
			max: 90,
			values: [ 65, 75 ],
			slide: function( event, ui ) {
				$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
				 $.ajax({
                    type: "POST",
                    headers: {"Content-Type": "application/json"},
                    url: $SCRIPT_ROOT + "/slider-out",
                    data: JSON.stringify({"minimum": $( "#slider-range" ).slider( "values", 0 ),
						"maximum": $( "#slider-range" ).slider( "values", 1 )
					}),
                        success: function(response) {
                            console.log(response);
                            $("#ajax-min").val(response.min_temp);
                            $("#ajax-max").val(response.max_temp);

                        },
                        error: function(response, error) {
                            console.log(response);
                            console.log(error);
                            $("#ajax-min").text("ajax failed");
                        }
                 });
			}
		});
		$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
			" - $" + $( "#slider-range" ).slider( "values", 1 ) );
	} );
	</script>
</head>
<body>

<p>

	<label for="amount">Price range:</label>

    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">

</p>
<form method="POST">
<div id="slider-range"></div>
    <input type="submit" value="submit">
</form>
<label for="ajax-min">ajax min temp:</label>
<input type="text" id="ajax-min" readonly style="border:0; color:#f6931f; font-weight:bold;">
<label for="ajax-max">ajax min temp:</label>
<input type="text" id="ajax-max" readonly style="border:0; color:#f6931f; font-weight:bold;">
</body>
</html>
